server:
  port: 8082 # Port according to your Serials

spring:
  config:
      activate:
        on-profile: local
  application:
    name: inventory-service
  datasource:
    url: jdbc:postgresql://localhost:5434/inventory_db
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/