server:
  port: 8082 # Port according to your Serials

spring:
  config:
    activate:
      on-profile: prod
  application:
    name: inventory-service
  datasource:
    url: jdbc:postgresql://salesstore-db:5432/inventory_db
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/