server:
  port: 8081

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
        - id: salesstore-service
          uri: lb://salesstore-service
          predicates:
            - Path=/api/products/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
