server:
  port: 8081

spring:
  config:
    activate:
      on-profile: prod
  application:
    name: product-service

  datasource:
    url: jdbc:postgresql://salesstore-db:5432/product_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  cache:
    type: redis
    redis:
      host: salesstore-redis
      port: 6379
      time-to-live: 600000

  kafka:
    bootstrap-servers: salesstore-kafka:9092
    producer:
      retries: 3
      properties:
        delivery.timeout.ms: 3000
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

minio:
  endpoint: http://salesstore-minio:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket-name: products

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/
