server:
  port: 8080

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://salesstore-keycloak:8180/realms/sales-store
          jwk-set-uri: http://salesstore-keycloak:8180/realms/sales-store/protocol/openid-connect/certs

  cloud:
    loadbalancer:
      cache:
        enabled: true
        caffeine:
          spec: initialCapacity=10,maximumSize=500,expireAfterWrite=5s
      health-check:
        refetch-instances: true
        refetch-instances-interval: 5s
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true

          routes:
            - id: auth-service
              uri: lb://AUTH-SERVICE
              predicates:
                - Path=/api/v1/auth/**

            - id: product-service
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/api/v1/products/**,/api/v1/categories/**,/api/v1/variants/**

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/
