server:
  port: 8080 # The Entry Point

spring:
  application:
    name: api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          # This URL is where Gateway checks if the token is valid
          issuer-uri: http://salesstore-keycloak:8180/realms/sales-store
          jwk-set-uri: http://localhost:8180/realms/sales-store/protocol/openid-connect/certs

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/api/v1/auth/**
            - id: product-service
              uri: lb://product-service
              predicates:
                - Path=/api/v1/products/**
                - Path=/api/v1/categories/**
                - Path=/api/v1/variants/**


eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/