server:
  port: 8084

spring:
  config:
    activate:
      on-profile: local
  application:
    name: ai-service

  datasource:
    url: jdbc:postgresql://localhost:5433/vector_store
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update

  ai:
    ollama:
      base-url: http://localhost:11434
      embedding:
        model: nomic-embed-text
    vectorstore:
      pgvector:
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 768
        initialize-schema: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      retries: 3
      linger-ms: 0
      request-timeout-ms: 30000
      delivery-timeout-ms: 30000
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    listener:
      observation-enabled: true
      template:
        observation-enabled: true

  management:
    tracing:
      sampling:
        probability: 1.0 # 1.0 means log 100% of requests (0.1 means 10%)
    zipkin:
      tracing:
        endpoint: http://localhost:9411/api/v2/spans

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/